## Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
os:
  - linux
julia:
  - 1.0
  - 1.1
  - nightly
notifications:
  email: false
git:
  depth: 99999999

matrix:
  allow_failures:
    - julia: nightly

after_success:
  - julia -e 'Pkg.add("DynamicPolynomials");
              Pkg.add("Documenter");'
  - julia -e 'cd(Pkg.dir("BernsteinExpansions")); include(joinpath("docs", "make.jl"))'
  - julia -e 'Pkg.add("Coverage")'
  - julia -e 'cd(Pkg.dir("BernsteinExpansions")); using Coverage; Codecov.submit(Codecov.process_folder())'
